.department-bg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6GO08NcqH_SD5m_TB7wXPmbNso41Bs4ZISg&usqp=CAU');
    background-position: fixed;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.department-bg::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00d8b0ee;
    z-index: -1;
}
.custom-grid{
    display: grid;
    grid-template-columns: repeat(3 ,  1fr);
    gap: 15px;
}
.departments-title{
    color: teal;
}