.department{
    height: 550px;
    border: 1px solid teal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 111;
}
.department img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}