.banner{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQallfRo5XbTQlMzGjRiKav42LVpd9LB5Tihg&usqp=CAU');
    background-size: cover;
    background-position: center;
    padding: 150px 150px;
    position: relative;
    position: sticky;
}
.banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #29b49bad;
    background-image: linear-gradient(to-left , rgba(0,0,0,0,1), #42cfb577  );
    z-index: -1;
    display: block;
}
.banner-text{
    z-index: 200;

}
.banner-text p{
    width: 400px;
    font-size: 20px;
    margin-top: 25px;
}